.story-container{
    display: flex;
    justify-content: space-evenly;
}
.story-container .story-cards{
    width:40%;
    display: flex;
    flex-wrap: wrap;
}
.story-container .story-cards .card{
    width:39%;
}
.story-section{
    width:55%;
}
@media (max-width: 768px) {
    .story-container{
        flex-direction: column;
        flex-wrap: wrap-reverse;
    }
    .story-container .story-cards{
        width:95%;
    }


}