.welcome-conatiner * {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  color: #3a4865;
}
.welcome-conatiner {
  width: 70%;
  /* padding: 10px; */
  margin: auto;
}
.main {
  display: flex;
}
.main-img {
  width: 80%;
}
.left {
  margin-top: 100px;
}
.left p {
  margin: 30px 0;
}
.left a {
  width: 150px;
  height: 25px;
  padding: 17px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  margin: 30px 0;
  background-color: #3a4865;
  color: #fff;
  text-decoration: none;
}
input{
    width: 250px;
    border-radius: 10px;  
    height: 20px;
    padding: 15px;
    outline: none;
    margin: 15px 0;
    border:2px solid whitesmoke
  }
footer {
  margin: auto;
  display: flex;
  align-items: flex-end;
}
.description {
  margin: 0 150px;
}
footer h4 {
  margin: 10px 150px;
}
footer p {
  color: #9ba1af;
  margin: 10px;
}
.part {
  width: 90px;
  height: 90px;
}

@media (max-width: 768px) {
  .main-img {
    display: none;
    visibility: hidden;
  }
  .welcome-conatiner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }
  .left {
    width: 90%;
  }
  .description {
    margin: 20px 0 0 10px;
  }
  .main {
    align-items: center;
    justify-content: center;
    margin-top: -40px;
  }
  footer {
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
  }
  footer h4 {
    margin: 2px;
  }
  .left a,
  .left p {
    margin: 15px 0;
  }
}
